*.xcuserstate
*DS_Store*
*.DS_Store
*atlassian*
Pods/*
*.yml~
*.png
__pycache__/*
**/*.nc
**/__pycache__/*
*.pyc
dask-worker-space/*
*Figures/*
Plot/*
*with_corners/*
CMIP6_albedo.code-workspace
*PET0.ESMF*
Data/*
light/*
CMIP6_pivotTables.ipynb 
ozone-absorption/*
CMIP6_albedo.code-workspace 
.coverage*
dask-worker-space/*
*coveralls*
*checkpoints*
*.F90
*.R
*.nc
PDFs/*
*.png
Figures/*
dask-worker-space/*
coverage.xml*
**/*-checkpoint.py
*.csv
